version: '3.8'
services:
  db:
    image: mongo:5.0
    restart: unless-stopped
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db   
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: erick17
      MONGODB_DATABASE: voting
volumes:
  mongo_data: